* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

i, svg {
    pointer-events: none;
}

.kick-pad, .snare-pad, .hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
    transition: all 0.3ms ease-out;
}

.kick-pad:hover, .snare-pad:hover, .hihat-pad:hover {
    border: 2px solid #000;
}

.kick-pad {
    background-color: rgb(79, 149, 206);
}

.snare-pad {
    background-color: rgb(204, 206, 79);
}

.hihat-pad {
    background-color: rgb(101, 46, 126);
}

.kick-pad.active {
    background-color: rgb(21, 126, 212);
}

.snare-pad.active {
    background-color: rgb(236, 240, 47);
}

.hihat-pad.active {
    background-color: rgb(146, 41, 194);
}

.sequencer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.kick-track,
.snare-track,
.hihat-track {
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    margin: auto;
}

.kick,
.snare,
.hihat {
    display: flex;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    gap: 1rem;
    margin: 0 2rem;
}

.controls button {
    padding: 1rem;
    border: none;
    background: rgb(219, 169, 169);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pad {
    transition: all 0.5s ease;
}

.play {
    display: flex;
    margin: 1rem auto 1rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border: none;
    background-color: rgb(219, 169, 169);
    cursor: pointer;
}

.play.active {
    background-color: rgb(133, 15, 15);
}

.mute.active {
    background: rgb(231, 16, 16);
}

.tempo {
    margin: 3rem;
    width: 30%;
}

.tempo-slider {
    padding: 0.2rem;
    -webkit-appearance: none;
    margin: 1rem 0;
    width: 100%;
    position: relative;
    background: rgb(219, 169, 169);
    cursor: pointer;
    border-radius: 1rem;
}


.tempo p{
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}
select {
    padding: 1rem;
    font-size: 1rem;
}

@keyframes playTrack {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}